@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:300,900');

$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$dark: rgb(22, 28, 41);
$green: #00cc86;
$light-green: #bafacd;
$red: #dc3900;
$light-red: #ffe5e3;

$family-sans-serif: "Lato", sans-serif;
$primary: $purple;
$link: $purple;

$body-background-color: $beige-light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-background-color:$beige-light;
$input-shadow: none;


